{
  "extends":  "airbnb-base",
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "max-len": ["warn", 110, { "ignoreComments": true , "ignoreTrailingComments": true ,"ignoreUrls": true}],
    "wrap-iife": ["error", "any"],
    "strict": "off",
    "no-param-reassign": ["error", { "props": false }]
  },
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "__dirname": false,
    "require": false
  }
}